body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .description{
    padding: 40px 0px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    width: 400px;
    border: 1px solid black;
    background-color: rgb(153, 74, 74);
    color: rgb(40, 54, 65);
  }
  
  #playzone{
    background-color: skyblue;
    width: 400px;
    height: 500px;    
    border: 1px solid black;
    margin: auto;
  }
  
  #character{
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    top: 30%;
    left: 200px;
    background-color: black;
    z-index: 1000000;
  }
  
  .block{
    width: 400px;
    height: 20px;
    background-color: rgb(169, 12, 122);
    position: relative;
    top: 100px;
    margin-top: -20px;
  }
  
  .hole{
    width: 40px;
    height: 20px;
    background-color: skyblue;
    position: relative;
    top: 100px;
    margin-top: -30px;
  }